@use './variables' as *;

body {
	margin: 0;
    padding: 0;
}


footer {
    background-color: $primary-brown;

}


.margin {
    margin: 2rem
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-margin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar {

    &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
}

img {
    height: 10%;
    width: 10%;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
