@use './variables' as *;
@use './mixins' as *;

body {
	margin: 0;
    padding: 0;
}


footer {
    background-color: $primary-brown;
}


.margin {
    margin: 0, 2rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-margin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {

    &__title {
        margin-top: 2rem;
    }

    &__logo {
        height: 10%;
        width: 10%;
    }
}
.nav-bar {

    &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}




.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
