@use './variables' as *;
@use './mixins' as *;

body {
	margin: 0;
    padding: 0;
}

footer {
    background-color: $primary-brown;
    width: 100%;
}

.margin {
    margin: 0, 2rem;
    font-family:'Prompt', sans-serif, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-brown;
}

