@use '../variables' as *;

.header-margin {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {

    &__logo-container {
        width: 30vw;
    }
    &__logo {
        height: 5rem;
        width: 5rem;
    }
    
    &__title-container {
        width: 30vw
    }

    &__title {
        font-size: 2.2rem;
        font-family: fantasy;
        text-align: center;
        color: $primary-brown;
    }
    
}

.nav-bar {
    width: 30vw;
    
    &__list {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        text-transform: uppercase;

    }
}

