@use "../variables" as *;

.hero {
    margin: 0 auto;
    width: 100vw;
    height: 50vh;

    &__video {
        object-fit: cover;
        width: 100vw;
        height: 50vh;
        position: absolute;
        z-index: -100;
        opacity: 0.8;
    }

    &__container {
        width: 100vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        color: $primary-brown;
        font-size: 2rem;
        text-transform: uppercase;

        &--span {
            color: white;
        }
    }


}