@use "./partials/variables" as *;
@use "./partials/global" as *;


.about {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background: url(../assets/aboutbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cocktailImg {
    border: 10px solid #fff;
    border-radius: 10px;
    height: 300px;
    }
    