@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/components/hero' as *;
@use './partials/components/header' as *;
@use './partials/components/footer' as *;

.cocktail {

    &__img {
        max-height: 250px;
        max-width: 250px;
        border: none;
    }

    &__random-container {
        text-align: center;
    }

    &__rendered-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__rendered-name {
        margin-right: 2rem;
    }

    &__detail-btn {
        height: 1.5rem;
        width: 20%;
    }
}


.cocktail-gallery {

    &__container {
        padding-bottom: 4rem;
        margin: 0;
    }
}

.cocktail-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.error-message {
    margin: 0;
}


